Qwen*/
Qwen*/**
Qwen*/*
longformer*/
longformer*/*
longformer*/**
models*/
models*/*
models*/**
datasets*/
datasets*/*
datasets*/**
uer/
RAG/embedder/Qwen*/
RAG/embedder/Qwen*/*
RAG/embedder/Qwen*/**
RAG/corpus/
RAG/corpus/*
RAG/corpus/**
logs/
logs/*
logs/**
pickle_records/
pickle_records/*
pickle_records/**
**/*.pyc
**/*.deb
