Qwen*/
longformer*/
models/*
!models/encoder/90000/
!models/alignment1/3mixed/300/
!models/alignment2/3mixed/1800-500/
!models/traffic_embedder/30000-2gpu/
datasets/*
!datasets/finetuning/
datasets/finetuning/*
!datasets/finetuning/5/
datasets/finetuning/5/*
!datasets/finetuning/5/App53*
uer/
RAG/embedder/Qwen*/
RAG/corpus/
logs/
pickle_records/
**/*.pyc
**/*.deb
